.sml{
  margin-top: 20px;
}
.cont{
  height: 80vh;
  background-color: rgba(221, 93, 19, 0.708);
  border-radius: 30px;
  margin-top: 30px;
  width: 150vh;
  margin-left: 190px;
  margin-bottom: 20px;

}
.f1{
  margin-top: 50px;
  width: 900px;
  height: 50px;
  border-radius: 25px;
}
.res{
  font-family:cursive
}